<% for(var x=0; x<fields.length; x++) { var field = fields[x]; %>
   <row id='row_<%= prefix %>::<%= field.name %>'><%= JST['htdocs/scripts/templates/form/label']({ field: field, prefix: prefix, form: form }) %><element id='element_<%= prefix %>::<%= field.name %>'><%= JST['htdocs/scripts/templates/form/fields/' + field.type]({ field: field, prefix: prefix, form: form }) %></element></row>
<% } %>
